/* .p-datatable-thead	 {
  background: rgb(162, 69, 69) !important;
} */

/* .p-row-odd {
  background: rgb(244, 244, 244) !important;
} */

.p-datatable {
  border: solid 1px lightgray;
}

.p-column-title		{
  color: black;
}

.table-auth-span{
  display: flex;
  align-items: center;
}