/* body {
  background: rgb(255, 255, 255);
} */

/* .p-toolbar  {
  padding: 0px;
} */


.p-menubar{
  font-weight: bolder;
  color: #000;
  background: var(--indigo-100) !important;
}

/* .navbar-menubar {
  background: blue !important;
} */