/* body {
  background: rgb(255, 255, 255);
} */

/* .p-toolbar  {
  padding: 0px;
} */


/* .p-menubar{
  font-weight: bolder;
  color: blue !important;
  background: var(--indigo-100) !important;
} */

/* .navbar-menubar {
  background: blue !important;
} */

.navbar-menubar {
  /* background-image: url(../../../public/images/home-image12.jpg); */
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
}