// pages > admin > index.tsx
.admin___container {
  grid-template-columns: 1fr;
  display: grid;
  gap: 2rem;

  max-width: 1024px;
  margin: auto;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
