// Layout
.admin__layout {
  padding: 1.5rem;
}

// Admin HomePage
.admin___container {
  grid-template-columns: 1fr;
  display: grid;
  gap: 2rem;

  max-width: 1024px;
  margin: auto;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--surface-card);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: solid 1px var(--surface-border);

  &__title {
    padding: 0;
    margin: 0;
  }
}

.menu__card:hover {
  background-color: #99f6e32c;
  border: solid 1px var(--surface-border);
  background: var(--surface-hover);
}

.menu__card i {
  transition: all 0.2s ease-in-out;
}
.menu__card h3 {
  transition: all 0.2s ease-in-out;
}

// .menu__card:hover i {
//   transform: scale(1.1);
//   filter: brightness(0.8);
// }
// .menu__card:hover h3 {
//   transform: scale(1.1);
//   filter: brightness(0.8);
// }
