.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-50);
  border-top: 1px solid var(--surface-border);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  &__mailSection {
    & div &__title {
      font-size: 28px;
      margin: 0rem;
      text-transform: uppercase;
      margin-bottom: 0rem;
    }

    & div > p {
      margin-top: 0.5rem;
      font-size: 20px;
    }

    background: var(--primary-color);
    padding: 1rem 0;
    color: var(--surface-0);

    &__search input {
      width: 65%;
    }

    &__followSection {
      &__title {
        text-transform: uppercase;
        font-size: 20px;
        width: 100px;
        padding: 0 !important;
      }

      margin-top: 1rem;
      display: flex;
      align-items: center;

      &__icons Button:nth-child(1) {
        margin-left: 1rem;
      }

      &__icons Button {
        margin-right: 5px;
      }
    }
  }

  &__links {
    padding: 1rem 0;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__links__container {
    & h2 {
      margin: 0 0 0.5rem 0;
    }

    & ul {
      padding: 0;
      margin-top: 0;
    }
    & ul li {
      list-style-type: none;
      margin-bottom: 0.3rem;
      cursor: pointer;
      font-size: 20px;
    }

    & h4,
    h5 {
      color: var(--text-color-secondary);
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__author {
    font-size: 20px;

    color: var(--text-color-secondary);

    & p {
      margin: 0 0 0.5rem 0;
    }

    @media (min-width: 1024px) {
      text-align: center;
    }
  }
}
