.header {
  &__heroImage {
    // background-image: url("../public/images/splashScreen.avif");
    background-image: url("../public/images/skate-hero-image.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover, 100% 100%;
    height: 720px;
    min-height: 100%;
    // max-width: var(--max-w);
    margin: auto;
    z-index: 1;

    position: relative;
    @media (max-width: 1024px) {
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
    }

    &__textContainer {
      position: absolute;
      top: 25%;
      left: 8%;

      // background-color: rgba(255, 255, 255, 0.396);
      border-radius: 10px;
      text-align: center;
      color: #ffffff;
      text-align: start;
      width: 350px;

      @media (max-width: 1024px) {
        position: static;
        // color: black;
        margin-bottom: 2rem;
      }

      &__title {
        font-size: 46px;
        margin: 0 auto;
      }

      &__subtitle {
        font-size: 24px;
        width: 400px;
        margin-top: 0.5rem;
      }
    }
  }
}

.discounts {
  // border-top: solid 2px #d4d4d8;
  border-bottom: solid 2px #d4d4d8;

  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  max-width: var(--max-w);
  margin: auto;

  display: flex;
  justify-content: space-around;
}

.quote {
  text-align: center;
  margin: 2rem 0rem;

  &__author {
    font-size: 30px;
    margin: 0;
  }

  &__phrase {
    font-size: 24px;
    color: gray;
    margin-top: 0.5rem;
  }
}

.categories {
  &__title {
    margin-bottom: 1rem;
    font-size: 28px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 40px;

    gap: 2rem;
    // margin: auto 0;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    // &__card {
    //   grid-row: 1/2;
    //   margin: 0 auto;
    // }

    // &__card:last-child {
    //   // grid-column: 1 / span2;
    //   border: solid 4px red;
    //   grid-column: 1/3;
    //   grid-row: 2/3;
    //   height: 400px;
    //   min-width: 100% !important;
    //   // display: flex;

    // margin: 0 auto;
    //   //   // border-radius: 10px;
    // }

    // &__image22 {
    //   border: solid 2px red;
    //   background-image: url("../public/images/skate-clothing.jpeg");
    //   background-repeat: no-repeat;
    //   background-position: center;
    //   background-size: cover, 100% 100%;
    //   height: 520px;
    //   width: 100%;
    //   // min-height: 100%;
    // }
  }
}

/* //todo: this should be in homePage.scss */
.card-container {
  display: flex;
  overflow: hidden;
  position: absolute;
}

.card-container img {
  // object-fit: cover;
  transition: all 0.2s ease-in-out;
  // filter: brightness(1);
}

.card-container img:hover {
  /* filter: grayscale(0.4); */
  transform: scale(1.1);
  filter: brightness(0.8);
}
