.navbarContainer {
  border-bottom: solid 1px var(--surface-border) !important;

  &__fullNavbar {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo {
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--surface-0);
  font-weight: bolder;
  padding: 0.85rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @media (min-width: 1024px) {
    border-radius: 0;
    font-size: 2rem;
  }
}

.logo:hover {
  opacity: 0.9;
}

.nav__links {
  list-style: none;
  padding: 0;
}

.nav__links li {
  display: inline-block;
  padding: 0 1.5rem;
}

.nav__links li div {
  transition: all 0.1s ease-in-out;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  text-underline-offset: 5px;

  font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.nav__links li div:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration-thickness: 2px !important;
}

.selectedPage {
  color: var(--primary-color) !important;
  text-decoration: underline !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px !important;
}
