.sidebarContainer {
  padding: 0.5rem;

  @media (min-width: 1024px) {
    display: none;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }

  &__rightOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
