:root {
  --blue: 0, 0, 255;
  --alpha: 0.44;
  --max-w: 1440px;
  --max-table-width: 70rem;
  /* --max-table-width: 1440px; */
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
  /* background-color: var(--surface-ground); */
}

.validation {
  display: inline-block !important;
}

.home-page-bg,
.login-page-bg,
.signup-page-bg {
  min-height: 100vh !important;
  height: 100 !important;
}

.input-invalid {
  border: solid 1px red;
  animation: input-error 0.3s linear;
}

@keyframes input-error {
  0% {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(0px);
  }
}

.message-error {
  border: solid 1px red;
  /* background-color: rgba(255, 0, 0, 0.038); */
  animation: input-error 0.3s linear;
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  color: red;
  margin-top: 2rem;
  /* font-size: 0.8rem; */
}

.file-invalid {
  border: solid 1px red !important;
  color: green;
  padding: 0.5rem 0px;
  border-radius: 5px;
}

/* Carousel */
.carousel-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.menuContainer {
  top: 30%;
}

/* //todo container */

.container {
  max-width: var(--max-w);
  /* max-width: 1280px; */
  width: 90%;
  margin: auto;
}

.padding-container {
  padding: 4rem;
}

/* @font-face {
  font-family: proxima;
  src: url(../../public/proximanova-regular.otf);
}

.nova-bold {
  font-family: proxima;
} */

/* E8DCD2 */

a {
  color: var(--text-color-secondary);
}

a:hover {
  text-decoration: underline;
}

.fullWidthHeight {
  min-height: calc(100vh - 223.5px);
}

/* Prime-react classes */
.p-card {
  box-shadow: none;
  border: solid 1px var(--surface-border);
}

.p-sidebar .p-sidebar-header {
  padding: 0.5rem;
  padding: 0;
}

.p-sidebar .p-sidebar-content {
  padding: 0;
}

.p-menu {
  width: 100%;
  border: none;
  padding: 0;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  font-weight: bold;
}
/* Prime-react classes  */

input[type="file"] {
  outline: none;
  height: 44px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-file-upload-button {
  color: white;
  /* background-color: var(--primary-color); */
  background-color: #64748b;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  height: 44px;
  cursor: pointer;
}

/* .input-file-label {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--surface-500);
  text-align: center;
  padding: 0.5rem 1rem;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
} */

.error-container {
  background-color: #ffe7e6;
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
  width: 100%;
  padding: 1.25rem 1.75rem;
  border-radius: 6px;
}

.product-skeleton-btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

/* 200 */
