:root {
  --blue: 0, 0, 255;
  --alpha: 0.44;
  --max-w: 1440px;
  --max-table-width: 70rem;
  /* --max-table-width: 1440px; */
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
  /* background-color: var(--surface-ground); */
}

.validation {
  display: inline-block !important;
}

.home-page-bg,
.login-page-bg,
.signup-page-bg {
  min-height: 100vh !important;
  height: 100 !important;
  /* background-color: var(--primary-color); */
}

.input-invalid {
  border: solid 1px red;
  animation: input-error 0.3s linear;
}

@keyframes input-error {
  0% {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(0px);
  }
}

.message-error {
  border: solid 1px red;
  /* background-color: rgba(255, 0, 0, 0.038); */
  animation: input-error 0.3s linear;
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  color: red;
  margin-top: 2rem;
  /* font-size: 0.8rem; */
}

/* .p-card-title,
.p-card-content,
.p-card-footer {
  text-align: center;
} */

.file-invalid {
  border: solid 1px red !important;
  color: green;
  padding: 0.5rem 0px;
  border-radius: 5px;
}

/* Carousel */
.carousel-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.menuContainer {
  top: 30%;
}

/* //todo container */

.container {
  max-width: var(--max-w);
  /* max-width: 1280px; */
  width: 90%;
  margin: auto;
}

/* @media (max-width: 640px) {
  .container {
    background: red !important;
  }
} */

.padding-container {
  padding: 4rem;
}

.p-menuitem-text {
  /* color: #ffffff !important; */
  /* text-decoration: underline;
  text-decoration-color: var(--primary-color) !important;
  text-decoration-style: wavy; */
}

/* @font-face {
  font-family: proxima;
  src: url(../../public/proximanova-regular.otf);
}

.nova-bold {
  font-family: proxima;
} */

/* E8DCD2 */

a {
  /* text-decoration: none; */
  color: var(--text-color-secondary);
}

a:hover {
  text-decoration: underline;
}

.fullWidthHeight {
  min-height: calc(100vh - 223.5px);
  /* padding: 2rem; */
  /* background-color: var(--primary-color); */
}

.p-card {
  box-shadow: none;
  border: solid 1px var(--surface-border);
}

/* display: none; */
input[type="file"] {
  /* background-color: white; */
  outline: none;
  /* width: auto; */
  height: 44px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-file-upload-button {
  color: white;
  /* background-color: var(--primary-color); */
  background-color: #64748b;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 6px;
  height: 44px;
  cursor: pointer;
}

/* .input-file-label {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--surface-500);
  text-align: center;
  padding: 0.5rem 1rem;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
} */
