:root {
  --blue: 0, 0, 255;
  --alpha: 0.44;
  --bg-gray: #f2f2f2;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
  /* background-color: var(--surface-ground); */
}

.validation {
  display: inline-block !important;
}

.p-datatable {
  border: solid 1px lightgray;
}

.home-page-bg,
.login-page-bg,
.signup-page-bg {
  min-height: 100vh !important;
  height: 100 !important;
  /* background-color: var(--primary-color); */
}

.input-invalid {
  border: solid 1px red;
  animation: input-error 0.3s linear;
}

@keyframes input-error {
  0% {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(0px);
  }
}

.message-error {
  border: solid 1px red;
  /* background-color: rgba(255, 0, 0, 0.038); */
  animation: input-error 0.3s linear;
  padding: 0.6rem 0.6rem;
  border-radius: 5px;
  color: red;
  margin-top: 2rem;
  /* font-size: 0.8rem; */
}

.p-card-title,
.p-card-content,
.p-card-footer {
  text-align: center;
}

.file-invalid {
  border: solid 1px red !important;
  color: green;
  padding: 0.5rem 0px;
  border-radius: 5px;
}

/* Dropdown */
.p-dropdown {
  width: 15rem !important;
  text-align: left;
}

/* Carousel */
.carousel-demo .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.menuContainer {
  top: 30%;
}

.container {
  /* max-width: 1280px; */
  max-width: 1620px;
  margin: auto;
  /* width: 90%; */
  padding: 0 1rem;
  /* background: blue; */
}

/* @media (max-width: 640px) {
  .container {
    background: red !important;
  }
} */

.padding-container {
  padding: 4rem;
}

.p-menuitem-text {
  /* color: #ffffff !important; */
  /* text-decoration: underline;
  text-decoration-color: var(--primary-color) !important;
  text-decoration-style: wavy; */
}

/* @font-face {
  font-family: proxima;
  src: url(../../public/proximanova-regular.otf);
}

.nova-bold {
  font-family: proxima;
} */

/* E8DCD2 */

a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color-secondary) !important;
  text-decoration-style: wavy;
}

.card-text {
  background: #ffffffd3;
  color: #000000;
  padding: 5px;
  position: absolute;
  text-align: center;
}

.card-container {
  border-radius: 10px;
  width: 320px;
  /* height: auto; */
  height: 400px;
  overflow: hidden;
  position: absolute;
}

.card-container img {
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  filter: brightness(1);
}

.card-container img:hover {
  /* filter: grayscale(0.4); */
  transform: scale(1.1);
  filter: brightness(0.8);
}

.fullWidthHeight {
  min-height: calc(100vh - 223.5px);
  /* padding: 2rem; */
  /* background-color: var(--primary-color); */
}
