.bg-card {
  background-color: var(--bluegray-50);
}

.admin-card {
  transition: 0.2s linear;

}

.admin-card:hover {
  /* border: solid 1px black; */
  transform: scale(1.03);
  transition: 0.2s linear;
}