.bg-card {
  background-color: var(--bluegray-50);
}

.admin-card {
  transition: 0.2s linear;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5) ;
}

.admin-card:hover {
  /* transform: scale(1.01); */
  transition: 0.2s linear;
  box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.5) ;
}