/* .product{

    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    width: 255px;
    height: 485px;
    margin-right: 10px;

    background-color: rgba(119, 119, 119, 0.452);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.product h3{
    font-family:fantasy;

}

.product img{
    width: 250px;
    height: 250px;
    border-radius: 6px;

}
.product .prices{
    display: inline-flex;
    flex-direction: column ;
    justify-content: space-between;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 5px;
}
.product .prices label{
    flex: 1;
}
.product .total{

    font-weight: 700;
    color: rgb(12, 11, 12);
    text-shadow: 1px 1px rgb(255, 255, 255);
}
.product .total span{
    color: rgb(37, 37, 37);
}
.product .qp{
    margin-bottom: 5px;
}
.product button{
    border-radius: 7px;
    margin-top: 5px;
    background-color: rgb(6, 2, 10);
    color: white;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    font-family: fantasy;

}
.product button:hover{
    background-color: black;
} */