
body {
  background: #f4c4f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.p-card-title	{
  text-align: center;
}

.p-card-footer  {
  text-align: center;
}

.p-card-content	 {
  text-align: center;

}

.p-card	 {
  /* background-color: black; */
}

.card-container {
  /* background: red; */
}