html,body {
  padding: 0;
  margin: 0;
}

.validation {
  display: inline-block !important;
}

.p-breadcrumb-chevron	{
  /* color: var(--primary-color) !important; */
}

/* .p-menuitem-text, .p-menuitem-icon		{
  color: var(--secondary-color) !important
} */

.p-menubar {
  /* padding: .5rem; */
  /* padding: .2rem; */
  font-size: 1.1rem;
  background-color: transparent !important;
  border: none;
  /* border-radius: 0px; */
  /* color: white !important; */
  /* border-bottom: 1px solid lightgray; */
}

.p-datatable {
  border: solid 1px lightgray;
}

.home-page-bg,
.login-page-bg,
.signup-page-bg {
  /* background-image: linear-gradient(#883CAE, #883cae89) !important; */
  min-height: 100vh !important;
  height: 100 !important;
  /* background-color: var(--primary-color	); */
  /* background-image: linear-gradient(var(--primary-color-text	) , var(--primary-color)) !important; */
  background-color: var(--primary-color);
}

.home-page-container,
.admin-page-container {
  padding: 20px 0px;
  /* background: rgb(235, 235, 235) !important; */
  max-width: 70rem;
  margin: 0 auto;
  /* padding-top: 5rem; */
}

.input-invalid {
  border: solid 1px red;
  /* background-color: rgba(255, 0, 0, 0.038); */
  animation: input-error .3s linear ;
}

@keyframes input-error {
  0% {
    /* background-color: tomato; */
    transform: translateX(0px);
  }

  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(0px)
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(0px);
  }

}

.message-error {
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.038);
  animation: input-error .3s linear ;
  padding: .6rem .6rem;
  border-radius: 5px;
  color: red;
  margin-top: 2rem;
  font-size: .8rem;
}

.p-card-title,
.p-card-content,
.p-card-footer {
  text-align: center
}

.file-invalid {
  border: solid 1px red !important;
  color: green;
  padding: .5rem 0px;
  border-radius: 5px;
  /* background-color: red; */
}
/* .p-menuitem-text		{
  color: var(--text-color) !important;
} */