.form {
  & form &__inputContainer:nth-child(even) {
    margin: 1.5rem 0;
  }

  max-width: 400px;
  &__title {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
  }

  &__inputContainer {
    width: 100%;
    display: inline-block;

    & input {
      width: 100%;
    }
  }

  &__forgotPassword {
    text-align: right;
  }

  &__button {
    width: 100%;
    margin-top: 1.5rem;
  }

  &__linkForm {
    margin-bottom: 0;
    text-align: center;
  }
}
